<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257447108422-jhhpfastthrboduoqldt0elfvfciuubk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257447108422-jhhpfastthrboduoqldt0elfvfciuubk</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8OvOUNkykw_tje1nEIwhqBjdFD6PDgU</string>
	<key>GCM_SENDER_ID</key>
	<string>257447108422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShuttlePro.io</string>
	<key>PROJECT_ID</key>
	<string>shuttlepro-a2616</string>
	<key>STORAGE_BUCKET</key>
	<string>shuttlepro-a2616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257447108422:ios:b7d07fb2f8673be15e4f47</string>
</dict>
</plist>